
casalago/.vs/casalago/v15/.suo
casalago/.vs/casalago/v15/Browse.VC.db
casalago/.vs/casalago/v15/Browse.VC.opendb
casalago/.vs/casalago/v15/ipch/AutoPCH/4d7e222d4197c889/MAIN_PRAC11.ipch
casalago/.vs/casalago/v15/ipch/AutoPCH/e81e96a7045f2681/MAIN_PRAC11.ipch
CasaLago/CasaLago/Debug/CasaLago.log
CasaLago/CasaLago/Debug/CasaLago.tlog/CasaLago.lastbuildstate
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.command.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.read.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.write.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.command.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.read.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.write.1.tlog
CasaLago/CasaLago/Debug/Main_prac11.obj
casalago/casalago/Debug/vc141.idb
casalago/casalago/Debug/vc141.pdb
CasaLago/CasaLago/Debug/CasaLago.log
CasaLago/CasaLago/Debug/CasaLago.tlog/CasaLago.lastbuildstate
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.command.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.read.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.write.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.command.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.read.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.write.1.tlog
CasaLago/CasaLago/Debug/Main_prac11.obj
CasaLago/CasaLago/Debug/CasaLago.log
CasaLago/CasaLago/Debug/CasaLago.tlog/CasaLago.lastbuildstate
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.command.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.read.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/CL.write.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.command.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.read.1.tlog
CasaLago/CasaLago/Debug/CasaLago.tlog/link.write.1.tlog
CasaLago/CasaLago/Debug/Main_prac11.obj
